html {
	font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
}

body {
	margin: 0px;
}

header {
    box-shadow: #00000060 0px 1px 2px;
    display: flex;
}
main{
	display: flex;
}
h1 {
	margin-top: 0px;
}

.name {
	margin: 20px;
}

.right-menu{
	width: 300px;
    background-color: #fff;
    height: 100vh;
    top: 2px;
    box-shadow: #00000060 1px 2px 2px;
}

.right-menu ul {
	font-size: 28px;
	margin: 0px;
	padding: 30px;
	list-style: none;
}

.right-menu ul li{
	margin-top: 10px;
}

.main-wrapper{
	width:60%;
}

.content{
	margin:20px;
	min-width:100px;
	min-height:100px;
	display: flex;
	flex-direction: column;
}

.output{
	display: block;
}

.button{
	display: block;
}
.result{
	display:block;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
text-align: center;
}
th{
	min-width:100px;
}